// Placeholder to allow overriding predefined variables smoothly.
// My colours

$aqua: #8dd3c7;
$yellow: #ffffb3;
$lavender: #bebada;
$red: #fb8072;
$blue: #80b1d3;
$orange: #fdb462;
$green: #b3de69;
$pink: #fccde5;
$grey: #d9d9d9;
$violet: #bc80bd;

aqua {color: $aqua;}
yellow {color: $yellow;}
lavender {color: $lavender;}
red {color: $red;}
blue {color: $blue;}
orange {color: $orange;}
green {color: $green;}
pink {color: $pink;}
grey {color: $grey;}
violet {color: $violet;}
