/**
 * Site header
 */
.site-header {
  border-top: none;
  line-height: $base-line-height * $base-font-size * 3.25;
}

.site-title {
  @include relative-font-size(2.625);
  font-weight: 400;
  line-height: 80%;
  margin-top: 15pt;
  margin-bottom: 15pt;
  color: #80b1d3 !important;
  text-decoration: none !important;
}

.site-nav {
  top: 19px;
}

/**
 * Titles
 */
h1 {
  color: $lavender;
}

h2 {
  color: $pink;
}

h3 {
  color: $lavender;
}

/**
 * Custom
 */
.warning {
  color: $red;
  font-weight: bold;
}

.post-content {
  h1, h2, h3 { margin-top: $spacing-unit}
}

.post-content a, .post-link {
  color: #8dd3c7 !important;
}

$link-base-color: #8dd3c7 !default;

// .post-link {
//   color: #8dd3c7 !important;
// }

// Fix title on the homepage, which is no longer layout: home
h1#about-me {
  font-size: 2em;
  line-height: 1.5;
  margin-top: auto;
}

// Blog layout is home, so set size as other pages
.page-heading {
  font-size: 2.625em;
  letter-spacing: -1px;
  line-height: 1.15;
}

// Import JS demos created in Processing JS
iframe {
  border: none;
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  width: 600px;
  height: 400px;
}
// If the page is lesser than 600px, set that width to the iframe
@media (max-width: 600px) {iframe{width: 100%;}}

// For blogging
definition {
  display: block;
  border: 4px solid $border-color-01;
  padding: $spacing-unit / 2;
  font-size: 1.2em;
  margin-bottom: 15px;
}

def {
  color: $pink;
  font-style: italic;
}

blockquote {
  font-size: 0.75em;
}
